@charset "UTF-8";
body {
  margin: 0;
  background: #1a1a1a;
  color: white;
  font-family: "Handlee";
  text-align: center;
}

header {
  font-family: "Short Stack";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}
header .left {
  padding: 5px;
  font-size: 1.3em;
}
header .left a {
  color: white;
  text-decoration: none;
}
header .right {
  position: absolute;
  right: 0;
  padding: 5px;
  font-size: 1.1em;
  display: flex;
}
header .right ul {
  list-style: none;
  margin: 0;
}
header .right ul li {
  float: left;
}
header .right ul a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: white;
}
header .right ul a:hover {
  color: #b3b3b3;
}

@media (max-width: 599px) {
  header .right.open ul {
    display: none;
  }
  header .right {
    background: black;
    top: 33px;
    justify-content: flex-end;
    padding: 0;
  }
  header .right:before {
    content: "☰";
    display: block;
    position: absolute;
    top: -25px;
    right: 10px;
    cursor: pointer;
  }
  header .right ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
  }
  header .right ul li {
    border-top: solid #343434 1px;
    width: 100%;
    margin: 0;
    padding: 3px 0;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -38px;
}

.container {
  border: solid white 1px;
  border-radius: 5px;
  margin: 10px 30px;
  padding: 10px 30px;
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container.top {
  margin: 0;
  padding: 50px 0 0 0;
  height: 600px;
  border: none;
}
.top img{
  width: 100%;
  margin: 0 auto;
}

.about {
  text-align: center;
}
.about p {
  width: 75%;
  font-size: 1.1em;
}

.tour {
  text-align: center;
}
.tour img{
  width: 90%;
  max-width: 700px;
}

.music {
  text-align: center;
}
.music audio {
  margin-bottom: 25px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact form input {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: black;
  width: 250px;
}
.contact form textarea {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: black;
  width: 250px;
  height: 75px;
}
.contact form button {
  border: none;
  border-radius: 3px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 1em;
  padding: 7px;
}
.contact form button:hover {
  cursor: pointer;
}
