body {
  margin: 0;
  background: #1a1a1a;
  color: white;
  font-family: "Handlee";
  text-align: center;
}

header {
  font-family: "Short Stack";
  display: flex;
  justify-content: space-between;
  background: black;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}
header .left {
  padding: 5px;
  font-size: 1.3em;
}
header .left a {
  color: white;
  text-decoration: none;
}
header .right {
  padding: 5px;
  font-size: 1.1em;
}
header .right a {
  margin: 3px;
  text-decoration: none;
  color: white;
}
header .right a:hover {
  color: #b3b3b3;
}

.anchor {
  display: block;
  position: relative;
  top: -38px;
}

.container {
  border: solid white 1px;
  border-radius: 5px;
  margin: 10px 30px;
  padding: 10px 30px;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.top {
  margin-top: 0;
  padding-top: 50px;
  height: 600px;
  border: none;
}
.top img{
  height: 820px;
}

.about {
  text-align: center;
}
.about p {
  width: 75%;
  font-size: 1.1em;
}

.tour {
  text-align: center;
}

.music {
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact form input {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: black;
  width: 250px;
}
.contact form textarea {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: black;
  width: 250px;
  height: 75px;
}
.contact form button {
  border: none;
  border-radius: 3px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 1em;
  padding: 7px;
}
.contact form button:hover {
  cursor: pointer;
}
