<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Short+Stack' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <header>
      <div class="left"><a href="#">formerly bodies</a></div>
      <div class="right open">
        <ul>
          <li><a href="#about">about</a></li>
          <li><a href="#tour">tour</a></li>
          <li><a href="#music">music</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div>
    </header>
    {{ content }}
  </body>
</html>
