<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Short+Stack' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <div class="left"><a href="#">formerly bodies</a></div>
      <div class="right"><a href="#about">about</a><a href="#tour">tour</a><a href="#music">music</a><a href="#contact">contact</a></div>
    </header>
    {{ content }}
  </body>
</html>
